<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP Aylien Article Web Tool</title>
    <!-- Meta Tags for HTML page. -->
    <meta
      name="description"
      content="NLP Article Analyzer Web Tool (Alfred NLP Analyzer)"
    />
    <meta
      name="keywords"
      content="NLP Api, Aylien, Sentimental Analysis, Dynamic features"
    />
    <meta name="author" content="Ahmed Ibrahim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *"
    />
    <link rel="stylesheet" href="\src\client\styles\about.css" />
    <link rel="stylesheet" href="\src\client\styles\base.css" />
    <link rel="stylesheet" href="\src\client\styles\footer.css" />
    <link rel="stylesheet" href="\src\client\styles\header.css" />
    <link rel="stylesheet" href="\src\client\styles\form.css" />
    <link rel="stylesheet" href="\src\client\styles\resets.css" />
  </head>
  <body>
    <!-- Element block containing for navigation bar. -->
    <header>
      <nav class="nav-page">
        <div class="main-logo">
          <a href="#"><h4>AlFRED.NLP</h4></a>
        </div>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Analyzer</a></li>
        </ul>
      </nav>
    </header>
    <!-- Element block having container for about section, URL prompt and results  -->
    <main>
      <section>
        <div class="about">ABOUT</div>
      </section>
      <section>
        <form class="" onsubmit="return handleSubmit(event)">
          <input
            id="text-url"
            type="text"
            name="input[url]"
            onblur="onBlur()"
            placeholder="Please enter your text's URL"
          />
          <input
            type="submit"
            name="submit-button"
            value="submit"
            onclick="return handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>
      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>
    <!-- Footer of page  -->
    <footer>
      <div class="main-logo">
        <a href="#"><h4 id="footer-logo">AlFRED.NLP</h4></a>
      </div>
      <div id="footer-text">
        2021 &#169; ALFRED.NLP INC. All Right reserved.
      </div>
      <div class="social-media">
        <a href="#">
          <img src="images/facebook-logo.svg" />
        </a>
        <a href="#">
          <img src="images/pinterest-logo.svg" />
        </a>
        <a href="#">
          <img src="images/tiktok-logo.svg" />
        </a>
        <a href="#">
          <img src="images/instagram-logo.svg" />
        </a>
        <a href="#">
          <img src="images/youtube-logo.svg" />
        </a>
        <a href="#">
          <img src="images/twitter-logo.svg" />
        </a>
      </div>
    </footer>
  </body>
</html>
