<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>NLP Meaningcloud Article Web Tool</title>
    <!-- Meta Tags for HTML page. -->
    <meta
      name="description"
      content="NLP Article Analyzer Web Tool (Alfred NLP Analyzer)"
    />
    <meta
      name="keywords"
      content="NLP Api, Meaningcloud, Sentimental Analysis, Dynamic features"
    />
    <meta name="author" content="Ahmed Ibrahim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- Element block containing for navigation bar. -->
    <header>
      <nav class="nav-page">
        <div class="main-logo">
          <a href="#"><h4>ALFRED.NLP</h4></a>
        </div>
      </nav>
    </header>
    <!-- Element block having container for about section, URL prompt and results  -->
    <main class="app-container">
      <section id="about-section">
        <div id="about-text">
          <h2>Transform the world's news into real-time business insight</h2>
          <p>
            Identify and investigate risks and opportunities by harnessing media
            signals at scale. Harnessing the business insight hidden in news
            content requires an army of engineers and data scientists. Our
            end-to-end pipeline aggregates, understands and delivers the world's
            news as clean ingestible structured data feeds. Our research powered
            NLP models understand and tag thousands of articles every minute.
            Enhance your news powered applications, processes, and models with
            enriched and structured news feeds and insights. We provide 26
            unique filters and searchable tags along with advanced analytics
            functions that provide enhanced search and analysis. We always put
            developer experience first. Get started in minutes with our SDK's
            and comprehensive docs!
          </p>
        </div>
        <div id="about-image"></div>
      </section>
      <section id="form-section">
        <div class="form-title">
          <h2>Do you want to conduct sentimental analysis on your text?</h2>
        </div>
        <form>
          <input
            id="text-url"
            type="text"
            name="url"
            placeholder="Please enter your text's URL"
          />
          <input id="submit-button" type="submit" value="Submit" />
        </form>
      </section>
      <section id="results-section"></section>
    </main>
    <!-- Footer of page  -->
    <footer>
      <div id="footer-text">
        2021 &#169; ALFRED.NLP INC. All Right reserved.
      </div>
    </footer>
    <!-- Script for 'serviceWorker'  -->
    <script>
      // It checks that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
