$font-stack-1: Libre Baskerville, serif;
$primary-color: #5754ff;
$secondary-color: #f2f2f2;
$tertiary-color: darkmagenta;

title{
    display: none;
}

html{
    font-size: 70%;
}

body {
    background-color: $secondary-color;
    font-size: 1.7rem;
    min-height: 100vh;
    align-items: center;
}

.app-container{
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-areas: 
    "about about about"
    "form form form"
    "results results results";
    margin-top: 5px;
}

#about-section{
    grid-area: about;
    
}

#form-section{
    grid-area: form;
}

#results-section{
    grid-area: results;
}


