$primary-color: #5754ff;
$secondary-color: #f2f2f2;
$tertiary-color: darkmagenta;

form {
    display: flex;
    justify-content:center;
    flex-direction:column;
}

.form-title{
    color: $primary-color;
    font-weight: Bold;
    font-size: 30px;
}

#submit-button{
    cursor: pointer;
    background-color: $primary-color;
    border-radius: 5px;
    color: $secondary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;

    &:hover {
        background-color: $tertiary-color;
    }
}

input {
    background-color: $primary-color;
    border-radius: 5px;
    padding: 5px 20px;
    color: $secondary-color;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    line-height: 16px;
    margin: 5px 0;

    &:hover {
        background-color: $tertiary-color;
    }
}

/* Style for Placeholder Text*/
::placeholder { 
    color: $secondary-color;
    font-size: 15px;
    font-weight: bold;
} 

#results-section{
    margin-top: 7px;
    font-size: 32px;
    padding: 5px;
}

#results{
    margin-top: 10px;
    background-color: $primary-color;
    color: $secondary-color;
    padding: 15px;
    box-shadow: 5px 10px lightgray;
}



